<h1 id="title" class="title">Forgot Password</h1>
<p class="sub-title">Enter your email address and we’ll send a link to reset your password</p>

<nb-alert *ngIf="showmessgae" outline="success" role="alert">
    <p class="alert-title"><b>Alert!</b></p>
    <ul class="alert-message-list">
      <li class="alert-message">Please check the mail inbox</li>
    </ul>
  </nb-alert>

<form (ngSubmit)="onSubmit()"[formGroup]="requestGroup" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-email">Enter your email address:</label>
    <input type="text" nbInput formControlName="email"
    [status]="submitted ?(formData.email.errors?'danger':'success'):'basic'"
    fullWidth fieldSize="medium" placeholder="Email Address">
    <ng-container *ngIf="formData.email.errors && submitted">
      <!-- <p class="caption status-danger" *ngIf="formData.email.errors.required">
        Folder Name is required!
      </p> -->
      <p *ngIf="formData.email.errors.required"  class="caption status-danger">Emailname is required</p>
    <p *ngIf="formData.email.errors.email"  class="caption status-danger">Email must be a valid email address</p>
    </ng-container>
  </div>

  <button nbButton
          fullWidth
          status="primary"
          size="large"
          [disabled]="!requestGroup.valid">
    Request password
  </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login">Back to Log In</a></p>
  <p><a routerLink="../register" class="text-link">Register</a></p>
</section>
